<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chalkboard</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/css/professor_course_nav.css">
    <link rel="stylesheet" href="/css/professor_assignment.css">
</head>
<body>
    <%- include('../partials/professor_header') %>
    <div class="assignments">
        <div class="title">
            <h1>Assignment Manager</h1>
        </div>
        <div class="assignment-items">
            <form method="post" action="/add_assignment">
                <div class="assignment-post">
                    <div class="enter">
                        <label for="assignment-title">Title</label>
                        <input placeholder="Enter Assignment title" class="assignment-title" name="assignment-title" type="text">
                        <label for="due-date">Due Date</label>
                        <input type="date" name="due-date" class="due-date">
                        <label for="assignment">Instructions</label>
                        <textarea placeholder="Enter Assignment instructions" class="assignment-page" name="assignment" type="text"></textarea>
                        <label for="assignment-video">Video</label>
                        <textarea placeholder="Enter video link" class="assignment-video" name="assignment" type="text"></textarea>
                    </div>
                    <div class = questions>
                        <h1>Questions</h1>
                        <button class="delete" for="question1">Delete</button>
                        <label for="question1">Question 1</label>
                        <textarea placeholder="Add Question" class="question-page" name="question1" type="text"></textarea>
                        <button class="delete" for="question2">Delete</button>
                        <label for="question2">Question 2</label>
                        <textarea placeholder="Add Question" class="question-page" name="question2" type="text"></textarea>
                    </div>
                    <div class="buttons">
                        <div class = "add-buttons">
                            <div class="add-answer">
                                <label for="answer-sheet">Answersheet: </label>
                                <input value="Add Answersheet" name="answer-sheet" type="file"></input>
                            </div>
                            <div class="add-question">
                                <input value="Add Question" type="submit"></input>
                            </div>
                        </div>
                        <div class="enter-post">
                            <input value="Post" type="submit">
                        </div>
                    </div>
                </div>
            </form>
            <% if(assignment !=null) { assignment.forEach(function(assignment) { %>
                <a href="/course/<%- courseid %>/ <%- assignmentid %>" class="work">
                    <div class="item">
                        <div class="text">
                            <%= assignment.title %>
                            <span class="due">Due date: <%= assignment.duedate %></span>
                        </div>
                        <span>
                            <%= assignment.description %>
                        </span>
                    </div>
                </a>
            <% }) } %>
        </div>
    </div>

</body>
</html>