<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chalkboard</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="/css/professor_course_nav.css">
  <link rel="stylesheet" href="/css/professor_course_manager.css">
</head>
<body>
  <%- include('../partials/professor_header', {courseid}) %>
  <div class = "title">
    <h1>Course Manager</h1>
  </div>
<!-- <ul style="list-style-type: none">
  <li><a href="professor_courseStudentManger.html">Student Manger</a></li>
  <li><a href="professor_courseAddProfessor.html">Add Professor</a></li>
</ul> -->
  <div class="main">
    <div class = "request">
      <div class="name">
        <h2>Requesting</h2>
      </div>
      <table class="table">
        <form>
          <% if(reqprofessors !=null ) { reqprofessors.forEach(function(professor) { %>
            <tr class="row">
              <td class="data">
                <div class="person">
                  <span><%= professor.name %></span>
                </div>
              </td>
              <td class="course-buttons">
                <div class="buttons">
                  <form method="post" action="/accept">
                    <input hidden name="accept" value=<%= professor.id %>>
                    <input hidden name="code" value=<%= courseid %>>
                    <button class="accept">Accept</button>
                  </form>
                  <form method="post" action="/deny">
                    <input hidden name="deny" value=<%= professor.id %>>
                    <input hidden name="code" value=<%= courseid %>>
                    <button class="deny">Deny</button>
                  </form>
                </div>
              </td>
            </tr>
          <% }) } %>
        </form>
        <% if(reqstudents !=null ) { reqstudents.forEach(function(student) { %>
          <tr class="row">
            <td class="data">
              <div class="person">
                <span>
                  <%= student.name %>
                </span>
              </div>
            </td>
            <td class="course-buttons">
              <div class="buttons">
                <form method="post" action="/accept">
                  <input hidden name="accept" value= <%= student.id %>>
                  <input hidden name="code" value=<%=courseid %>>
                  <button class="accept">Accept</button>
                </form>
                <form method="post" action="/deny">
                  <input hidden name="deny" value=<%=student.id %>>
                  <input hidden name="code" value=<%=courseid %>>
                  <button class="deny">Deny</button>
                </form>
              </div>
            </td>
          </tr>
          <% }) } %>
      </table>
    </div>
    <div class="prof">
      <div class="name">
        <h2>Professors</h2>
      </div>
      <table class="table">
        <% if(professors !=null ) { professors.forEach(function(professor) { %>
          <tr class="row">
            <td class="data">
              <div class="person">
                <span>
                  <%= professor.name %>
                </span>
              </div>
            </td>
            <td class="course-buttons">
              <div class="buttons">
                <button class="promote">Promote</button>
                <button class="kick">Kick</button>
              </div>
            </td>
          </tr>
          <% }) } %>
        <!-- <tr class="row">
          <td class="data">
            <div class="person">
              <span>Professor1</span>
            </div>
          </td>
          <td class="course-buttons">
            <div class ="buttons">
              <button class = "promote">Promote</button>
              <button class = "kick">Kick</button>
            </div>
          </td>
        </tr> -->
      </table>
    </div>
    <div class="stud">
      <div class="name">
        <h2>Students</h2>
      </div>
      <table class="table">
        <form>
          <% if(students !=null ) { students.forEach(function(student) { %>
            <tr class="row">
              <td class="data">
                <div class="person">
                  <span>
                    <%= student.name %>
                  </span>
                </div>
              </td>
              <td class="course-buttons">
                <div class="buttons">
                  <button class="kick">Kick</button>
                </div>
              </td>
            </tr>
            <% }) } %>
          <!-- <tr class="row">
            <td class="data">
              <div class="person">
                <span>Student1</span>
              </div>
            </td>
            <td class="course-buttons">
              <div class="buttons">
                <button class="kick">Kick</button>
              </div>
            </td>
          </tr>
        </form>
        <tr class="row">
          <td class="data">
            <div class = "person">
              <span>Student2</span>
            </div>
          </td>
          <td class="course-buttons">
            <div class="buttons">
              <button class="kick">Kick</button>
            </div>
          </td>
        </tr> -->
      </table>
    </div>
    <form method="POST" action="/delete_course">
      <div class="delete">
        <label></label>
        <input type="hidden" name= "delete" value=<%= courseid %> >
        <button type="submit" class="delete-button">Delete Course</button>
      </div>
    </form>
  </div>
</body>
</html>