<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chalkboard</title>
    <link rel="stylesheet" href="/css/student_homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="student-nav">
        <div class="nav-1">
            <h1 class="chalkboard">Chalkboard Student</h1>
        </div>
        <div class="nav-2">
            <div class="search">
                <form name="searchForm" action="/StudSearchCourse" method="post">
                    <input type="text" placeholder="Enter Course Name" name="search" class="search-item">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="add">
                <a onclick="location.href='/student_add_course'">
                    <img class="plus" src="img/plus.svg">
                </a>
            </div>
            <div class="imgcontainer">
                <img src="img/person-svgrepo-com.svg" alt="Avatar" class="avatar">
            </div>
            <div class="leave">
                <form name="signOut" method="post" action="/signOut">
                    <button type="submit">Sign out</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="select">
        <p> Select a class</p>
        <form method="post" action="/back_student">
            <button class="reset" type="submit">Reset Filter</button>
        </form>
    </div>
    <ul style="list-style-type:none" class="class-nav">
        <% if(print !=null) { print.forEach(function(course) { %>
            <li class="list-class">
                <div class="title">
                    <a href="/course/<%- course.courseId %>">
                        <div class="class">
                            <%= course.courseName %>
                        </div>
                        <div class="prof">
                            <%= course.instructors[0].name %>
                        </div>
                        <div class="code">Code: <%= course.courseId %>
                        </div>
                    </a>
                </div>
                <div class="desc">
                    <%= course.description %>
                </div>
            </li>
        <% }) } %>
        <% if(notprint !=null) { notprint.forEach(function(course) { %>
            <li class="list-class">
                <div class="no-title">
                    <div class="class">
                        <%= course.courseName %>
                    </div>
                    <div class="prof">
                        <%= course.instructors[0].name %>
                    </div>
                    <div class="code">
                        Code: <%= course.courseId %>
                    </div>
                </div>
                <div class="desc">
                    <%= course.description %>
                </div>
            </li>
        <% }) } %>
    </ul>
</body>

</html>